<a class="looper__link card {{ product.product_group }}" title="{{ product.name }}" href="{{ site.url }}/{{ product.url }}">

  <div class="product_text">
    <h1>{{product.name}}</h1>
    <h3>{{product.subtitle}}</h3>
    <div class="product_text_content">
      <!-- strip_html otherwise the indexes come out fucked! -->
      {{product.content | strip_html | truncatewords: 16}}
    </div>

    <div class="button_row">
      <!-- 'learn more' instead of 'view' or others, Apple teaches -->
      <span class="button">Learn more</span>
    </div>

  </div>

</a>
