h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_family_headings;
  margin: 0;
  padding: 0;
  font-weight: 500;
}


h1 {
  font-size: $heading1;
  line-height: 1.2;
}

h2 {
  font-size: $heading2;
  line-height: 1.2;
}
h3 {
  font-size: $heading3;
  line-height: 1.2;
}


.top_padded {
  padding-top: 115px;
}
